.contact-card {
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 36px;
}

.form-inputs {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding-bottom: 24px;
}

input,
textarea {
  border: 1px solid #8d8d8d;
  border-radius: 10px;
}

.form--input,
.form--message,
.form--input--invalid,
.form--input--invalid:focus,
.form--input--invalid:active {
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 15px;
}

.form--input {
  color: white;
  background-color: transparent;
}

.form--message {
  grid-column: 1 / -1;
  color: white;
  background-color: transparent;
  padding: 15px;
}

.form--input:focus,
.form--input:active,
.form--message:focus,
.form--message:active {
  outline: none;
  border: 1px #aa8d5c solid;
}

.form--input--invalid,
.form--input--invalid:focus,
.form--input--invalid:active {
  outline: none;
  color: rgb(251, 57, 57);
  background-color: transparent;
  border: 1px rgb(250, 38, 38) solid;
}

textarea {
  outline: none;
  resize: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8d8d8d;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8d8d8d;
}

.form--button {
  padding: 1rem;
  border-radius: 15px;
  border-color: #aa8d5c;
  background-color: #aa8d5c;
  color: white;
  justify-self: left;
  width: 45%;
}

.form--button:hover {
  background-color: #aa8d5c;
  border-color: #aa8d5c;
  color: beige;
}

.form--button:disabled,
.form--button:disabled:hover,
.form--button:disabled:active {
  background-color: #aa8d5c;
  border-color: #aa8d5c;
  color: beige;
  cursor: not-allowed;
}
