.hero-container {
	padding: 2rem;
	width: 100%;
	display: flex;
	gap: 2rem;
	align-items: center;
}

.hero-left {
	position: relative;
	width: 50%;
	height: 400px;
	border-radius: 1rem;
	background: url("../../../public/images/hero.svg") no-repeat center center;
	background-size: cover;
}

.hero-right {
	position: relative;
	height: 400px;
	border-radius: 1rem;
	width: 50%;
	background: url("../../../public/images/hero.svg") no-repeat center center;
	background-size: cover;
}

.hero-left_content {
	width: 100%;
	text-align: center;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #00000070;
	color: #b69852;
	font-size: 1.2rem;
	font-weight: 600;
}

.hero-right_content {
	width: 100%;
	text-align: center;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: #00000070;
	color: #b69852;
	font-size: 1.2rem;
	font-weight: 600;
}

@media screen and (max-width: 992px) {
	.hero-container {
		flex-direction: column;
		gap: 2rem;
	}

	.hero-left {
		width: 90%;
	}

	.hero-right {
		width: 90%;
	}
}