.partners-page {
	background-color: #000000;
	padding: 1rem 3rem;
}
.first-content {
	padding: 1rem 3rem;
}
.first-content p {
	color: #b69852;
	font-size: 2rem;
}
.user-card {
	width: 100%;
	margin: 0.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-card__left {
	color: #b69852;
	font-weight: 800;
	font-size: 1.25rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 20%;
}
.user-card__right {
	color: #000000;
	width: 80%;
	background-color: #b69852;
	padding: 2rem;
	font-weight: 500;
	line-height: 1.5rem;
	font-size: 1.25rem;
}
