.item-container {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem 1rem 1.5rem 1rem;
  margin: 3rem 2.5rem 3rem 2.5rem;
  border: 2px solid black;
}
.item-container .img1 {
  width: 100%;
  border-radius: 1rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 5rem;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: left;
}

.visit-title {
  width: 100%;
  padding-top: 2rem;
  font-size: 16px;
  padding-top: -55rem;
  color: black;
  font-weight: bold;
}

.description-wrapper {
  width: 100%;
}

.description {
  color: black;
  font-size: 16px;
  margin-top: -70px;
  width: 100%;
}
