@font-face {
  font-family: CormorantGaramond-Regular;
  src: url(../../Assets/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

.container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 4rem 30rem 4rem;
  color: #b69852;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.logo-icons {
  display: flex;
  justify-items: flex-start;
}

.about {
  margin-top: 3rem;
  line-height: 25px;
  width: 25rem;
  color: #b69852;
}

.links-wrapper {
  margin-bottom: 8rem;
  margin-top: 7.8rem;
  width: 14rem;
}
.footer-links a {
  color: #b69852;
}

a {
  text-decoration: none;
  color: #b69852;
}

h4 {
  margin-bottom: 0.5rem;
  color: white;
  padding-bottom: 1rem;
  font-size: 20px;
  color: #b69852;
}

/* .contact-wrapper {
  margin-top: 6rem;
} */

.contact-info {
  color: #b69852;
  margin-top: 7.8rem;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  margin-top: -6rem;
  width: 20%;
  margin-left: 43%;
  margin-bottom: 5rem;

  color: #b69852;
}

.fb .ig .twitter {
  color: #ab8e5c;
}

.business-inc-container {
  color: white;
  text-align: center;
  background-color: #1b1b1c;
  padding: 1rem;
  margin-top: -3.5rem;
  width: 100%;
}
@media screen and (max-width: 1260px) {
  .business-inc-container {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1060px) {
  .business-inc-container {
    margin-top: -1rem;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .links-wrapper {
    margin-left: -11rem;
  }
  .contact-wrapper {
    margin-right: 4.5rem;
    margin-top: -5rem;
    padding-right: 3rem;
  }

  .contact-info {
    width: 19rem;
    margin-right: -1.5rem;
  }

  h4 {
    border-top: 1px #ab8e5c solid;
    padding-top: 2rem;
    width: 14.5rem;
  }

  .business-inc-container {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-wrapper {
    margin-right: 1.5rem;
    margin-top: -7rem;
    padding-right: 10rem;
  }

  .contact-info {
    width: 19rem;
    margin-left: 4rem;
  }

  .links-wrapper {
    margin-top: 2.5rem;
  }
  .logo-container {
    width: 13rem;
    margin-left: 9rem;
  }
}
