.Testimonials-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.One,
.Two {
  border-radius: 12px;
  background-color: #AB8E5C;
  width: 50%;
  padding: 2rem;
}

.Two {
  padding: 0;
}

.Two img {
  width: 100%;
  border-radius: 12px;
}