.Testimonials-container {
    width: 100vw;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

.One,
.Two {
    border-radius: 12px;
    background-color: #AB8E5C;
    width: 40%;
    text-align: center;
}

.One {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;
}

.One h4 {
    color: black;
}

.Two {
    padding: 0;
}

.Two img {
    width: 100%;
    border-radius: 12px;
}

.Two h1 {
    padding: 2rem 0;

}

/* .Two h1 {
    transform: translate(-50%, -50%);
} */